<header class="row">>  
    {{>navedit}}
    <h1 class="titulo-h1 justify-content-center mt-1 jello-horizontal">Bienvenido a Mercado Online</h1>
    <h2 class="titulo-h2 justify-content-center mb-1">El sitio lider de ventas online de Argentina</h2>
</header>

<main class="row justify-content-around">

<h1 class="titulo-creador m-1">Creador de Productos: Mercado Online</h1>

<div class="row justify-content-around m-1 div-creador">

 <form class="row mt-3"  action="/editproductos" method="post" enctype="multipart/form-data">
 <div class="row col-6 mx-2">
    <input class="mb-2"  placeholder="Ingresar Nombre" type="text" name="nombre" required>
    <input class="mb-2" placeholder="Ingresar Precio" type="number" name="precio" required>
    <input class="mb-2" placeholder="Ingresar Stock" type="number" name="stock" required>
    <input class="mb-2" type="file" name="url" accept="image/x-png,image/gif,image/jpeg" required>
  </div>
  <div class="row col-6 justify-content-around">
    <textarea class=" col-12 mb-2"  name="descripcion" required>Ingresar descripción del producto</textarea>
    <button class="col-3 m-1" type="submit">Crear Producto</button>
</div>  
 </form>

</div>

<div class="row justify-content-around m-3">

  {{#each listadoProductos}}
   
    <div class="col-5 col-sm-3 select-producto m-2 ms-0">
      <img src="./img/products/{{url}}" class="card-img-top" alt="">
       
  <form action="/editproductos?_method=PUT" method="post">
   <input type="hidden" name="id" value={{id}}>
    <label class="col-12 titulo-producto">Nombre del producto:</label>
      <textarea class="col-12" name="nombre">{{nombre}}</textarea> 
    <label class="col-12 titulo-producto">Precio:</label>
      <input name="precio" placeholder={{precio}}>
    <label class="col-12 titulo-producto">Stock:</label>
      <input name="stock" placeholder={{stock}}>
    <label class="col-12 titulo-producto">Descripción:</label>
      <textarea class="col-12" name="descripcion" placeholder="{{descripcion}}"></textarea>
   <button type="submit">Actualizar</button>
  </form>
      
   <form action="/editproductos?_method=DELETE" method="post">
    <input type="hidden" name="id" value={{id}}>
     <button class="m-1" type="submit">Borrar</button>
   </form>
   
  </div> 
  
 {{/each}}
 </div>


</main>

{{>footer}}

